Repository arjunbanker/potluck: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome check --no-errors-on-unmatched

fix: Make Vercel deployment optional in GitHub Actions
  .github/workflows/vercel-preview.yml
  .lintstagedrc.json
  VERCEL_SETUP.md
Due: biome format --write

fix: Use biome lint instead of check for build to avoid formatting errors
  package.json
Due: biome format --write

feat: Complete theme implementation and responsive fixes
  CLAUDE.md
  app/account/settings/page.tsx
  app/api/recipes/[id]/route.ts
  app/auth/error/page.tsx
  app/auth/signin/page.tsx
  app/auth/verify-request/page.tsx
  app/dashboard/page.tsx
  app/fonts/GeistMonoVF.woff2
  app/fonts/GeistVF.woff2
  app/globals.css
  app/layout.tsx
  app/page.tsx
  app/recipes/[id]/page.tsx
  app/recipes/import/page.tsx
  bun.lockb
  components/conditional-navbar.tsx
  components/icons/potluck-icon.tsx
  components/landing-page.tsx
  components/navbar-recipe.tsx
  components/navbar.tsx
  components/recipes/public-recipe-feed.tsx
  components/recipes/recipe-card.tsx
  components/recipes/recipe-viewer.tsx
  drizzle.config.ts
  env.template
  lib/theme.ts
  package.json
Due: biome format --write, biome check --no-errors-on-unmatched

fix: Update package-lock.json to sync with package.json
  package-lock.json
Due: biome format --write

lint
  app/account/settings/page.tsx
  app/auth/signin/page.tsx
  app/dashboard/page.tsx
  app/globals.css
  app/layout.tsx
  app/recipes/[id]/page.tsx
  components/conditional-navbar.tsx
  components/icons/potluck-icon.tsx
  components/landing-page.tsx
  components/navbar-recipe.tsx
  components/navbar.tsx
  components/recipes/public-recipe-feed.tsx
  components/recipes/recipe-card.tsx
  components/recipes/recipe-viewer.tsx
  drizzle.config.ts
  lib/theme.ts
Due: biome format --write, biome check --no-errors-on-unmatched

fix: Remove infinite loop in featured recipes useEffect
  components/landing-page.tsx
Due: biome format --write, biome check --no-errors-on-unmatched

fix: Remove infinite loop in featured recipes useEffect (#6)
  components/landing-page.tsx
Due: biome format --write, biome check --no-errors-on-unmatched

Add conductor.json
  conductor.json
Due: biome format --write

Add conductor.json (#7)
  conductor.json
Due: biome format --write

Add conductor.json with yarn install in setup script
  yarn.lock
Due: none

Add conductor.json with yarn install in setup script (#8)
  yarn.lock
Due: none

fix: Resolve infinite loops and lint fixes
  app/account/settings/page.tsx
  app/dashboard/page.tsx
  app/layout.tsx
  app/page.tsx
  app/recipes/[id]/page.tsx
  app/recipes/import/page.tsx
  components/conditional-sidebar.tsx
  components/landing-page.tsx
  components/layout-wrapper.tsx
  components/recipes/public-recipe-feed.tsx
  components/recipes/recipe-card.tsx
  components/sidebar.tsx
  yarn.lock
Due: biome format --write, biome check --no-errors-on-unmatched

fix: Resolve infinite loops and lint fixes (#9)
  app/account/settings/page.tsx
  app/dashboard/page.tsx
  app/layout.tsx
  app/page.tsx
  app/recipes/[id]/page.tsx
  app/recipes/import/page.tsx
  components/conditional-sidebar.tsx
  components/landing-page.tsx
  components/layout-wrapper.tsx
  components/recipes/public-recipe-feed.tsx
  components/recipes/recipe-card.tsx
  components/sidebar.tsx
Due: biome format --write, biome check --no-errors-on-unmatched

fix: Update conductor.json to use bun for setup and run scripts
  conductor.json
Due: biome format --write

Path conditions:
  biome format --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css})
  biome check --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx}
